<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.kerneler.com/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Kun3.1415926</property>
        <property name="hibernate.connection.url">jdbc:mysql://60.205.221.172:3306/publiccms?serverTimezone=GMT</property>
        <property name="hibernate.connection.username">root</property>
    </session-factory>
</hibernate-configuration>
